/* Container principal que centraliza todo o conteúdo */
.product-form-container {
    position: relative;
    max-width: 500px;
    margin: 50px auto;
    /* Centraliza horizontalmente */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

/* Botão de voltar para a Home */
.back-home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #91549e;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

/* Efeito hover no botão Home */
.back-home-button:hover {
    background-color: #58235e;
}

/* Formulário de produto */
.product-form {
    margin-top: 60px;
    /* Espaço para o botão Home */
}

/* Título do formulário */
.product-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos dos labels e inputs */
.product-form form {
    display: flex;
    flex-direction: column;
}

.product-form label {
    margin-bottom: 15px;
    color: #555;
    font-weight: bold;
}

.product-form input,
.product-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 14px;
}

/* Botão de submit */
.product-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

/* Efeito hover no botão submit */
.product-form button[type="submit"]:hover {
    background-color: #45a049;
}